desktop.ini

Nam 1 Ky 1 - Introduction to Computing and Programming/.vscode
Nam 1 Ky 1 - Introduction to Computing and Programming/test.exe

Nam 1 Ky 2 - Programming with C++/.vscode
Nam 1 Ky 2 - Programming with C++/test.exe
Nam 1 Ky 2 - Programming with C++/test

Nam 1 Ky 2 - Programming with C++(New)/.vscode
Nam 1 Ky 2 - Programming with C++(New)/test.exe
Nam 1 Ky 2 - Programming with C++(New)/test

Nam 2 Ky 1 - Cau truc du lieu va giai thuat/.vscode
Nam 2 Ky 1 - Cau truc du lieu va giai thuat/test.exe
Nam 2 Ky 1 - Cau truc du lieu va giai thuat/test

Nam 2 Ky 2 - Lap trinh Python/.vscode
Nam 2 Ky 2 - Lap trinh Python/test

to here knows when